/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  
    
}

.header {
  background: #1F2937;
 
  
  
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

.logo {
  
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  color: #ddd;
  padding-left: 25px
}


a {
  /* this removes the line under our links */
  text-decoration: none;
  color: lightslategray;
}

ul {
  list-style-type: none;
}

/* SOLUTION */

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  padding-right: 25px;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 15px;
  padding-right: 35px;
  
}
.leftt, .rightt {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
    padding: 25px;
    
  }
  .rightt{
    direction: rtl;
    
  }
.modal {
    background: #1F2937;
   
    display: flex;
    justify-content: space-between;
    padding: 25px;
    
    

    

  }
  
  button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }
  
  button.continue {
    margin-top: 36px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin: 8px;
    border: 2px solid white;
  }
  .imgcl{
    
  }

  .text{
    color: #ddd;
    margin: 8px;

  }
  img{
    height: 200px;
    width: 400px;
    float:right ;
  }
  h1{
    color: #ddd;
  }

  img {
    width: 100px;
    height: 100px;
    
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
  }
  .title {
    margin-bottom: 32px;
    text-align: center;
  }
  
  .containerr {
    display: flex;
    justify-content: center;
    gap: 52px;
    align-items: center;
  }
  
  .info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .imgcl {
    height: 200px;
    width: 400px;
    float: right;
    margin-right: 10px;
    
    
    

}
  .textt{
    text-align: center;
  }

  .information{
    padding: 28px;
  }

  .quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
    padding: 88px;
    align-items: center;
    flex-direction: column;
    
}

.hero{
font-size: 24px;
/*position: absolute;
right: 0;*/
display: flex;
justify-content: end;
padding: 28px;
}

.blueline{
    padding:57px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin: 64px 66px;
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 8px;
    background: #1F2937;
    color: lightslategray;
}